@import "src/variables.scss";
.search-box {
  display: flex;
  justify-content: center;
}
.filter {
  display: flex;
  justify-content: center;
}
.search-input {
  width: 520px;
}

.movie-table {
  color: $font-color;
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 10px;
  &__title {
    font-size: 16px;
    margin: 10px 0;
  }
}

.link {
  cursor: pointer;
}

.delete-button {
  position: absolute;
  z-index: 9;
  display: flex;
}
.message {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
  &__detail {
    color: $font-color;
  }
}
