.mat-dialog-actions {
   justify-content: center;
   margin-bottom: 10px;
}
.mat-dialog-title{
            text-align: center;
            justify-content: center;
            margin-top: 20px;
        }


